<div class="banner section" id="about">
    <div>
        <img src="assets/images/logo.svg"/>
    </div>
    <div>    
        <h1>Design Tools Lab</h1>
        <div>
            Barnard College Computer Science <br>
            Columbia University
        </div>

        <hr>

        <div class="description">
            <p class="highlight">
                The Design Tools Lab (DTL) is a research group that develops design software, toolkits, and learning experiences for supporting the next generation of designers. 
            </p>
            <p>
                We investigate how novel technologies can enable new forms of creative expression. Our goal is to empower beginners to develop computational fluency through building and sharing design projects representing their ideas, identities, and values. 
            </p>
            <p>
                We are especially interested in creative computing design tools that cut across disciplinary boundaries, with prior work in the domains of <span class="machine-learning area">machine learning</span>, <span class="visual-arts area">visual arts</span>, <span class="electronics area">electronics</span>, and <span class="design-documentation area">design documentation</span>.
            </p>

            <div class="gradient-fill">
                👉 Interested in joining?  Find out more <a href="#join">here</a>!
            </div>
        </div>
    </div>
</div>