<footer>
    <div>Copyright © 2024 Design Tools Lab. All rights reserved.</div>
    <div>
        <a href="https://github.com/ttseng/design-tools-lab" target="_blank">Source Code</a>
    </div>
</footer>