<div class="join" id="join">
    <h3>👋 Thanks for your interest in joining DTL!</h3>
    <p>If you are a current Barnard of Columbia student interested in getting involved in research in DTL, please fill out <a href="https://forms.gle/v9UYA2Th7FqhRQZb9" target="_blank">this Google form</a>.</p>

    <b>Prospective Graduating Students</b>
    <p>Apply to Columbia CS and mention PI Tiffany Tseng in your application.</p>

</div>