<div class="join" id="join">
    <h3>👋 DTL is actively recruiting students!</h3>

    <p>DTL welcomes students with a range of backgrounds and interests, including software, product, UX, hardware, and learning experience design.</p>

    <p>Our research involves system building – we design and build prototypes of new design tools while studying how they can be used in practice.</p>
    
    <p>Drawing from design-based research, we create learning experiences (such as workshops and activity guides) in collaboration with community partners – and iteratively refine these materials based on learner feedback.</p>

    <h4>Barnard and Columbia Undergraduates</h4>

    <p>Please get in touch with Professor Tseng at <a href="mailto:ttseng@barnard.edu" target="_blank">ttseng@barnard.edu</a>. Include what year you are in, your major, what software or design skills you may have, and why you are interested in joining the lab.</p>

    <h4>Prospective Graduating Students</h4>
    <p>Apply to Columbia CS and mention PI Tiffany Tseng in your application.</p>
</div>