<div class="join" id="join">
    <h3>👋 Thanks for your interest in joining DTL!</h3>
    <b>DTL is currently full for Fall 2024 and will not be taking on additional RAs at this time.</b>

    <p>There will be opportunities for undergrads to join in the future, particularly for Summer 2025 via the <a href="https://barnard.edu/summer-research-institute" target="_bank">SRI program</a>.</p>
    <p>More info will be shared at the start of the Spring semester – stay tuned!</p>

    <h4>Prospective Graduating Students</h4>
    <p>Apply to Columbia CS and mention PI Tiffany Tseng in your application.</p>

</div>