<nav>
    <div class="title">
        <img src="assets/images/logo.svg"/>
        Design Tools Lab
    </div>
    <div class="spacer">

    {# {%- for item in collections.page -%}
        <a href="{{ item.url }}">{{ item.data.title }}</a>
    {%- endfor -%} #}
</nav>