<nav>
    <a href="#top">
        <div class="left">
            <img src="assets/images/logo.svg"/>
            <span class="title">Design Tools Lab</span>
        </div>
    </a>
    <div class="spacer"></div>
    <div class="right">
        <a href="#publications">Publications</a>
        <a href="#people">People</a>
        <a href="#join">Join</a>
    </div>
</nav>